<% if @restaurant.errors.any? %>
  <div id="error_explanation">
    <h2>
      Cannot Save
    </h2>
    <%= pluralize(@restaurant.errors.count, "Errors") %>
    <ul>
      <% @restaurant.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
