    <div id='review<%= review.id %>'class='review'>
      <p>
      <strong>Comment:</strong>
      <%= review.comment %>
      </p>

      <p>
      <strong>Rating:</strong>
      <%= review.rating %>
      </p>
    </div>
